
@media(max-width: 1700px) {

}
@media(max-width: 1600px) {

}
@media(max-width: 1500px) {

}
@media(max-width: 1400px) {

}
@media(max-width: 1300px) {

}
@media(max-width: 1200px) {

	.navbar-expand-md .navbar-nav .nav-link {
    padding: 3px 20px;
    margin: 30px 0px;
    font-size: 13px;
	}
	.navbar-nav .nav-item:last-child .nav-link {
    font-size: 12px;
    padding: 3px 10px 3px 10px;
	}
	header .navbar-brand img {
		width: 180px;
	}
	.home-slider {
    margin-top: 85px;
	}
	.home-slider .caption-box h2 {
    font-size: 35px;
	}
	.home-slider .caption-box h5 {
    font-size: 22px;
	}
	.services .container {
		padding: 0 30px;
	}
	.services .owl-theme .owl-nav .owl-prev {
    left: -4%;
	}
	.services .owl-theme .owl-nav .owl-next {
    right: -4%;
	}
	.doc-shipping {
    padding: 50px 0;
	}
	.doc-shipping h2 {
    font-size: 35px;
	}
	.doc-shipping h5 {
    font-size: 16px;
    margin: 0 0 5px;
	}
	.doc-shipping h3 {
    font-size: 22px;
    margin: 0 0 5px;
	}	
	.doc-shipping .btns {
    width: 140px;
    height: 30px;
    font-size: 12px;
	}
	.btns span {
    font-size: 12px;
    margin-left: 5px;
	}
	.doc-shipping .btns span {
    margin-left: 10px;
	}
	footer a,
	footer .btm-strip .cols:nth-child(2) a,
	footer .btm-strip p {
    font-size: 13px;
	}
	footer h5 {
    font-size: 16px;
	}
	footer .btm-strip .cols {
    width: 34%;
	}
	footer .btm-strip .cols:nth-child(2) {
    width: 48%;
	}
	footer .btm-strip .cols:last-child {
    width: 18%;
	}
	.breadcum {
    margin-top: 85px;
	}
	.breadcum h3 {
    font-size: 40px;
	}
	.title {
    font-size: 35px;
	}
	.vision-mission .nav-tabs .nav-link {
    padding: 20px 10px 20px 80px;
    font-size: 16px;
	}
	.services-tabs .nav-link {
    font-size: 15px;
	}
	.services-tabs h3 {
    font-size: 30px;
	}
	.services-tabs {
    padding: 60px 0;
	}
	.career {
    padding: 60px 0;
	}
	.career .title {
		    margin: 0 0 30px;
	}
	.career h3 {
    font-size: 23px;
	}
	.career .require {
    font-size: 16px;
	}
	.career .red-strip h3 {
    font-size: 20px;
	}	
}

@media(max-width: 992px) {

	header .navbar-brand img {
    width: 130px;
	}
	.navbar-expand-md .navbar-nav .nav-link {
        padding: 3px 15px;
    margin: 15px 0px;
    font-size: 11px;
	}
	.navbar-nav .nav-item:last-child .nav-link {
    font-size: 11px;
    padding: 3px 8px 3px 8px;
	}
	.navbar-nav .nav-item:last-child .nav-link .call {
    font-size: 12px;
	}
	header.shrink .navbar-expand-md .navbar-nav .nav-link {
    margin: 15px 0px;
	}
	.home-slider {
    margin-top: 50px;
	}
	.home-slider .caption-box h2 {
    font-size: 30px;
    margin: 0 0 5px;
	}
	.home-slider .caption-box h5 {
    font-size: 20px;
    margin: 0 0 5px;
	}
	.home-slider .btns {
    font-size: 16px;
	}
	.doc-shipping .item {
    width: 100%;
	}
	.doc-shipping .text-box {
    padding: 25px;
	}
	footer h5 {
    font-size: 12px;
	}
	footer a, footer .btm-strip .cols:nth-child(2) a, footer .btm-strip p {
    font-size: 12px;
	}
	footer .column:last-child p {
    font-size: 13px;
	}
	footer .column:nth-child(2) {
    width: 37%;
    padding-left: 20px;
	}
	footer .column {
    width: 20%;
	}
	footer .column:nth-child(3) {
    width: 18%;
	}
	footer .column:last-child {
		width: 25%;
	}
	footer .btm-strip .cols {
    width: 46%;
	}
	footer .btm-strip .cols:nth-child(2) {
    width: 54%;
	}
	footer .btm-strip .cols:last-child {
    width: 100%;
	}
	.breadcum {
    margin-top: 50px;
	}
	header {
    border-bottom: 3px solid #b4b4b4;
	}
	.breadcum h3 {
    font-size: 30px;
	}
	.breadcum p {
    font-size: 18px;
	}
	.title {
    font-size: 30px;
	}
	.company {
    padding: 50px 0;
	}
	.text-box p {
    font-size: 15px;
	}
	.vision-mission .nav-link .style-icon {
    font-size: 35px;
    left: -15px;
    top: -10px;
    width: 65px;
    height: 65px;
	}	
	.vision-mission .nav-tabs .nav-link {
    padding: 15px 10px 15px 70px;
    font-size: 15px;
        margin-bottom: 35px;
	}
	.vision-mission {
    background-attachment: initial;
    padding: 50px 0;
	}
	.services-tabs {
    padding: 50px 0;
	}
	.services-tabs h4 {
    font-size: 22px;
	}
	.services-tabs h3 {
    font-size: 25px;
	}
	.services-tabs .card-body .style-icon {
    font-size: 30px;
    padding: 10px;
    margin-left: 10px;
	}
	.services-tabs .nav-link .style-icon {
    font-size: 22px;
    margin-right: 5px;
	}
	.services-tabs .nav-link {
    font-size: 13px;
    padding: 16px 0px;
	}
	.services-tabs .card-body p {
    font-size: 14px;
	}
	.services-tabs .row .col-md-4 {
		padding-right: 0px;
	}
	.services-tabs .card-body {
    padding: 0 0 0 20px;
	}
	.career {
    padding: 50px 0;
	}
	.career .title {
    margin: 0 0 20px;
	}
	.career h4 {
    font-size: 16px;
    margin: 15px;
	}
	.career .item.right-div {
    padding: 15px;
	}
	.career h3 {
    font-size: 20px;
    margin: 0 0 0px;
    line-height: 1;
	}
	.career .require {
    font-size: 14px;
    line-height: 1;
	}
	.career label {
    font-size: 14px;
    margin: 0;
	}
	.career .input-style {
    font-size: 14px;
	}
	.career .btns {
		    width: 80px;
    height: 30px;
    font-size: 13px;
	}
	.career .red-strip h3 {
    font-size: 16px;
    margin: 0 0 0 20px;
    line-height: 1.5;
	}
	.career .red-strip p {
    font-size: 16px;
	}
	.career .red-strip .right-div {
    padding-left: 25px;
	}
	.contact.career .title {
    margin: 0;
	}
	.contact .right-box {
    padding: 25px;
    margin-left: 0;
	}
	.contact .cols .style-icon {
    font-size: 30px;
    margin-right: 10px;
	}
	.contact h6 {
    font-size: 17px;
    margin: 0 0 50px;
	}
	.template {
		padding: 50px 0;
	}
	.template p {
    font-size: 14px;
	}
	.sitemap h5 {
    font-size: 20px;
	}
	.sitemap a {
    font-size: 15px;
	}	
}

@media(max-width: 767px) {

	header {
		background-color: #fff;
		box-shadow: 0px 2px 10px #00000059;
	}
	header .navbar-brand img {
    width: 160px;
	}
	.navbar-expand-md .navbar-nav .nav-link {
	width: 85%;
    color: #a5aaa7;
    padding: 15px 10px;
    margin: 5px 0;
    font-size: 18px;
    opacity: 0;
    border: 0;
    transform: translateX(-5px);
    transition: opacity 1s,transform 1.2s cubic-bezier(0.165,0.84,0.44,1);
	}
	.navbar-expand-md .navbar-nav .nav-link:before {
		display: none;
	}
	.navbar-nav .nav-item:last-child .nav-link {
    font-size: 15px;
    padding: 8px 10px;
        width: 170px;
	}

	.navbar-nav .nav-item:last-child .nav-link .call {
    font-size: 15px;
	}

	.navbar-expand-md .mobile-navbar.open .navbar-nav .nav-link {
    transform: translateX(20px) !important;
    opacity: 1 !important;
	}

	.navbar-expand-md .mobile-navbar.open li:nth-child(1) .nav-link {
		transition-delay: 0.1s;
	}
	.navbar-expand-md .mobile-navbar.open li:nth-child(2) .nav-link {
		transition-delay: 0.2s;
	}
	.navbar-expand-md .mobile-navbar.open li:nth-child(3) .nav-link {
		transition-delay: 0.3s;
	}
	.navbar-expand-md .mobile-navbar.open li:nth-child(4) .nav-link {
		transition-delay: 0.4s;
	}
	.navbar-expand-md .mobile-navbar.open li:nth-child(5) .nav-link {
		transition-delay: 0.5s;
	}
	.navbar-expand-md .mobile-navbar.open li:nth-child(6) .nav-link {
		transition-delay: 0.6s;
	}
	.navbar-expand-md .mobile-navbar.open li:nth-child(7) .nav-link {
		transition-delay: 0.7s;
	}
	
	header .mobile-navbar {
    z-index: 2;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 0px;
    z-index: 1;
    right: -100%;
    background: #010101;
    height: 100vh;
    overflow-y: scroll;
    transition: all 0.3s;
	}

	header .mobile-navbar.open {
    right: 0%;
	}

	.navbar-toggler .icon-bar {
    display: block;
    width: 28px;
    height: 2px;
    border-radius: 0px;
    background-color: #000;
    position: relative;
    margin: 5px 0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
	}

	header .navbar-toggler.active .icon-bar.one {
  	    top: 7px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
	}
	header .navbar-toggler.active .icon-bar.two {
  	    transform: translateX(155px);
	}
	header .navbar-toggler.active .icon-bar.three {
 		    top: -7px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
	}
	.mobile-navbar .navbar-nav {
    margin-top: 50px;
	}
	header .navbar-toggler.active .icon-bar {
		background: #fff;
	}
    header .navbar-toggler, header .navbar-toggler:focus {
    border: 0;
    outline: 0;
    padding: 0;
    width: 25px;
    height: 25px;
    position: relative;
    overflow: hidden;
    z-index: 2;
    margin: 15px 0;
	}
	.home-slider .caption-box h2 {
    font-size: 25px;
    margin: 0 0 5px;
	}
	.home-slider .caption-box h5 {
    font-size: 17px;
    margin: 0 0 5px;
	}
	.home-slider .btns {
    font-size: 14px;
	}
	.btns span {
    font-size: 12px;
	}
	.home-slider .carousel-control-prev {
    left: 2%;
	}
	.home-slider .carousel-control-next {
    right: 2%;
	}
	.home-slider .carousel-control-next, 
	.home-slider .carousel-control-prev {
    font-size: 20px;
	}
	.home-slider .carousel-indicators {
		    bottom: 0%;
	}
	.services .caption h5 {
    font-size: 15px;
	}
	.services .caption .style-icon {
    font-size: 35px;
    padding: 20px 0;
	}
	.services .caption p {
    font-size: 13px;
    margin: 0 0 0px;
    padding: 10px 0 0;
	}
	.services .owl-theme .owl-nav [class*=owl-] {
    font-size: 20px;
	}
	.services .owl-theme .owl-nav .owl-prev {
    left: -5%;
	}
	.services .owl-theme .owl-nav .owl-next {
    right: -5%;
	}
	.doc-shipping {
    padding: 30px 0;
	}
	.doc-shipping h2 {
    font-size: 25px;
	}
	.doc-shipping h2 {
    font-size: 25px;
    margin: 0 0 25px;
	}
	.doc-shipping h3 {
    font-size: 20px;
	}
	.doc-shipping .btns {
    width: 120px;
    height: 30px;
    font-size: 11px;
	}
	.doc-shipping .btns span {
    margin-left: 5px;
    font-size: 10px;
	}
	.doc-shipping .text-box {
    padding: 20px;
	}
	footer .column {
    width: 35%;
	}
	footer .column:nth-child(2) {
    width: 65%;
    padding-left: 50px;
	}
	footer .column:nth-child(3) {
    width: 45%;
    margin-top: 15px;
	}
	footer .column:last-child {
    width: 50%;
    margin-top: 15px;
	}
	footer h5 {
    font-size: 12px;
    margin: 0 0 15px;
	}
	footer .btm-strip .cols,
	footer .btm-strip .cols:nth-child(2),
	footer .btm-strip .cols:last-child {
    width: 100%;
    text-align: center;
	}
	.breadcum h3 {
    font-size: 25px;
        margin: 0 15px 0 0;
    padding-right: 15px;
	}
	.breadcum p {
    font-size: 16px;
	}
	.company {
    padding: 30px 0;
	}
	.title {
    font-size: 25px;
	}
	.text-box p {
    font-size: 14px;
	}
	.company .img-box {
		margin-bottom: 20px;
	}
	.vision-mission .nav-link .style-icon {
		display: none;
	}
	.vision-mission .nav-tabs {
    padding: 0;
    display: flex;
    justify-content: center;
	}
	.vision-mission .nav-tabs .nav-link {
    padding: 15px;
    font-size: 14px;
    margin-bottom: 20px;
	}
	.vision-mission {
    padding: 40px 0;
	}
	.vision-mission .tab-content {
    position: relative;
    top: 0;
    transform: unset;
	}
	.vision-mission .tab-pane p {
    font-size: 14px;
    margin: 0;
	}
	.vision-mission .nav-tabs .nav-link:before {
    right: 0;
    top: auto;
    left: 0;
    width: 15px;
    margin: 0 auto;
    bottom: -17px;
    transform: rotate(90deg);
	}
	.services-tabs .tab-content>.tab-pane {
    display: block;
        margin-bottom: 10px;
	}
	.services-tabs {
    padding: 30px 0;
	}

	.services-tabs .card .btn-link {
		color: #000;
	text-decoration: none;
    border: 0;
    font-size: 17px;
    padding: 10px;
    font-weight: 700;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0;
	}

	.services-tabs .card .btn-link[aria-expanded="true"] {
		background:#df0e00;
		color: #fff;
	}
	.services-tabs .card .btn-link[aria-expanded="true"] .style-icon {
		color: #fff;
	}

	.services-tabs .card .btn-link .style-icon {
		font-size: 30px;
		margin-right: 20px;
		color: #df0e00;
	}
	.services-tabs h3,
	.services-tabs .card-body .style-icon {
		display: none;
	}
	.services-tabs .card-header {
    margin-bottom: 0;
	}
	.services-tabs .card-body {
    padding: 15px;
	}
	.services-tabs .card-body .img-box {
    margin-top: 25px;
	}
	.career .wrapp .item {
    width: 100%;
    padding: 20px;
	}
	.career .item.right-div {
    padding: 20px;
    margin-top: 20px;
	}
	.career {
    padding: 30px 0;
	}
	.career .title {
    margin: 0 0 0px;
	}
	.career h3 {
    margin: 0 0 10px;
	}
	.career .input-style {
    font-size: 13px;
	}
	.career .red-strip .left-div,
	.career .red-strip .right-div {
    width: 100%;
	}
	.career .red-strip h3 {
    margin: 0 0 10px;
	}
	.career .red-strip .right-div {
		padding-left: 0px;
	}
	.career .red-strip {
    padding: 15px;
	}
	.career .red-strip .left-div:before {
		display: none;
	}
	.contact h6 {
    font-size: 15px;
    margin: 0 0 25px;
	}
	.contact .right-box {
    margin-top: 30px;
	}
	.template {
		padding: 30px 0;
	}
	.template p {
    font-size: 14px;
	}
	.sitemap a {
    font-size: 14px;
	}
	.error-page h2 {
    font-size: 30px;
	}
	.error-page h3 {
    font-size: 20px;
	}
	.error-page .btns {
    width: 85px;
    font-size: 13px;
    height: 30px;
	}
}

@media(max-width: 576px) {
	.home-slider .caption-box h5,
	.home-slider .btns {
		display: none;
	}
	.home-slider .caption-box h2 {
    font-size: 16px;
    margin: 0 0 5px;
	}
	.home-slider .carousel-indicators {
		display: none;
	}
	.services .owl-theme .owl-nav .owl-prev {
    left: -9%;
	}
	.services .owl-theme .owl-nav .owl-next {
    right: -9%;
	}
	.doc-shipping h2 {
    font-size: 21px;
    margin: 0 0 20px;
	}
	footer .column:nth-child(2) {
    width: 65%;
    padding-left: 25px;
	}
	footer .column:nth-child(3) {
    width: 40%;
	}
	footer .column:last-child {
    width: 60%;
	}
	footer .btm-strip {
    margin-top: 0;
	}
	footer .social-box a {
    font-size: 20px;
	}
	footer .btm-strip .cols:nth-child(2) a {
    margin-right: 5px;
    padding-right: 5px;
	}
	.breadcum {
    margin-top: 55px;
	}
	.breadcum p {
    display: none;
	}
	.breadcum h3 {
    font-size: 25px;
    margin: 0;
    padding-right: 0;
    border: 0;
	}
	.breadcum h3 br {
		display: none;
	}
	.vision-mission {
    padding: 30px 0;
	}
	.vision-mission .nav-tabs .nav-link {
    padding: 10px;
    font-size: 12px;
	}
	.services-tabs .card .btn-link {
    font-size: 15px;
    padding: 5px;
	}
	.services-tabs .card .btn-link .style-icon {
    margin-right: 10px;
	}
	.title {
    font-size: 20px;
	}
	.career .wrapp .item {
    padding: 10px;
	}
	.career h4 {
    font-size: 16px;
    margin: 0 0 20px;
	}
	.career h3 {
    margin: 0;
	}
	.contact .right-box {
    padding: 15px;
	}
	.contact .cols .style-icon {
    font-size: 25px;
    margin-right: 0px;
	}
	.contact .cols .text-box {
		padding-left: 30px;
	}
}


@media(min-width: 1200px) {

	.services .item:hover .img-box:before,
	.services .item:hover .img-box .arrows {
		opacity: 1;
	}
	.services .item:hover .img-box img,
	.doc-shipping .item .img-box:hover img,
	.company .img-box:hover img,
	.services-tabs .card-body .img-box:hover img {
		transform: scale(1.1);
	}
	.contact .cols a:hover {
		    color: #ff0000;
	}
	.career .btns:hover,
	.error-page .btns:hover,
	.doc-shipping .btns:hover {
		background: #000000;
		color: #fff;
	}
	.sitemap a:hover {
    color: #fe2a07;
	}
	.career .red-strip p a:hover {
		color: #e1dada;
	}
	.home-slider .caption-box a:hover {
		color: #fe2a07;
	}
}

@media(min-width: 768px) {
	.services-tabs .card {
		border: none;
	}
	.services-tabs .card .card-header {
		display: none;
	}
	.services-tabs .card .collapse {
    display: block;
	}	
}
