@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?cvv1ng');
  src:  url('../fonts/icomoon.eot?cvv1ng#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?cvv1ng') format('truetype'),
    url('../fonts/icomoon.woff?cvv1ng') format('woff'),
    url('../fonts/icomoon.svg?cvv1ng#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-vision:before {
  content: "\e911";
}
.icon-cruise-1:before {
  content: "\e901";
}
.icon-download-1:before {
  content: "\e902";
}
.icon-download-3:before {
  content: "\e903";
}
.icon-download-4-1:before {
  content: "\e904";
}
.icon-download-4:before {
  content: "\e905";
}
.icon-download-5:before {
  content: "\e906";
}
.icon-download-6:before {
  content: "\e907";
}
.icon-download-7:before {
  content: "\e908";
}
.icon-Phone21:before {
  content: "\e909";
}
.icon-phone-call-1:before {
  content: "\e90a";
}
.icon-Plaine1:before {
  content: "\e90b";
}
.icon-Pointer1:before {
  content: "\e90f";
}
.icon-Value-Added-Services:before {
  content: "\e91e";
}
.icon-back-arrow:before {
  content: "\e910";
}
.icon-right-arrow11:before {
  content: "\e919";
}
.icon-left-arrow1:before {
  content: "\e91a";
}
.icon-533984:before {
  content: "\e900";
}
.icon-sea-ship-with-containers:before {
  content: "\e90c";
}
.icon-sfgb67:before {
  content: "\e90d";
}
.icon-warehouse-1:before {
  content: "\e90e";
}
.icon-coastal-shipping1:before {
  content: "\e91d";
}
